.content {
  height: 100%;
}

.card-list {
  margin-top: 33.3px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: var(--width-card);
  height: var(--height-card);
  border-radius: var(--radius-card);
  display: flex;
  align-items: center;
  transition: box-shadow ease-in-out 0.4s;
}

.card:hover {
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 4px 8px -2px,
    rgba(255, 255, 255, 0.15) 0px 0px 0px 1px;
}

.card-icon {
  margin-left: 16.65px;
  width: 39.97px;
  height: 39.97px;
  border-radius: var(--radius-card);
  background-color: var(--background-gunmetal);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-info {
  margin-left: 29.97px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-label {
  color: var(--foreground-spanish-gray);
  font-size: var(--font-size-label);
  font-weight: var(--font-weight-label);
  line-height: var(--line-height-label);
}

.card-price {
  margin-top: 4px;
  color: var(--foreground-white);
  font-size: var(--font-size-price);
  font-weight: var(--font-weight-price);
  line-height: var(--line-height-price);
}
